---
import DebugPanel from "../../components/debug-panel.astro";
import DialoguePanel from "../../components/dialogue-panel.astro";
import Layout from "../../components/layout.astro";
import MainColumn from "../../components/main-column.astro";
import "../../style.css";
import {
    getStaticPathsImpl,
    type StaticPathProps,
} from "../../lib/server/getStaticPaths";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
    return await getStaticPathsImpl();
}) satisfies GetStaticPaths;

const { id } = Astro.props as StaticPathProps;
---

<Layout>
    <div>
        <MainColumn scrollDirection="reverse">
            <DialoguePanel autosave={false} startingScene={id} />
        </MainColumn>
        <DebugPanel />
    </div>
</Layout>
<style>
    div {
        display: grid;
        grid-template-columns: auto 1fr;
        overflow: hidden;
    }
</style>
