---
import "../style.css";
---

<!doctype html>
<html lang="en">
    <head>
        <title>Cafe Halcyon</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <nav>
            <a href="/info" title="about this cafe">info</a>
            <!-- <span><span data-time></span> at the Cafe Halcyon</span> -->
            <!-- <span>Cafe Halcyon</span> -->
            <a href="/ctrl" title="settings & save files">ctrl</a>
        </nav>
        <div data-content>
            
        </div>
    </body>
</html>
