---
import DialoguePanel from "../components/dialogue-panel.astro";
import "../style.css";
---

<!doctype html>
<html lang="en">
    <head>
        <title>Cafe Halcyon</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <DialoguePanel autosave={true} />
    </body>
</html>