---
import "../style.css";
import { Content } from "../content/generated/i/start-morning-outside.mdx";
import LiChoices from "../components/li-choices.astro";
import OlChoices from "../components/ol-choices.astro";
import UlChoices from "../components/ul-choices.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <title>Cafe Halcyon</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <script src="../lib/client"/>
    </head>
    <body>
        <nav>
            <a href="/info" title="about this cafe">info</a>
            <!-- <span><span data-time></span> at the Cafe Halcyon</span> -->
            <!-- <span>Cafe Halcyon</span> -->
            <a href="/ctrl" title="settings & save files">ctrl</a>
        </nav>
        <div data-content>
            <Content components={{li: LiChoices, ol: OlChoices, ul: UlChoices}} />
        </div>
    </body>
</html>
