---
import DebugPanel from "../components/debug-panel.astro";
import DialoguePanel from "../components/dialogue-panel.astro";
import "../style.css";
---

<!doctype html>
<html lang="en">
    <head>
        <title>Cafe Halcyon</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <DialoguePanel />
        <DebugPanel />
    </body>
</html>
<style>
    body {
        display: grid;
        grid-template-columns: auto 1fr;
        overflow: hidden;
    }
</style>
