---
import SpeedToggle from './speed-toggle.astro';

interface Props {
    scrollDirection?: undefined | "reverse";
}

const { scrollDirection } = Astro.props;
---

<div class="wrapper">
    <header>
        <nav class="content-width">
            <slot name="nav">
                <a href="/info" title="about this cafe">info</a>
                <a href="/config" slot="nav">config</a>
            </slot>
        </nav>
    </header>
    <main class:list={["scroll-area", scrollDirection]}>
        <div class="content-width">
            <slot />
        </div>
    </main>
    <footer>
        <!-- <span>Duncanpetrie.com</span> -->
        <span>Cafe Halcyon</span>
        <span>ACT I</span>
        <SpeedToggle />
        <a
            title="start over"
            onclick="window.localStorage.removeItem('save-data'); window.location.reload()"
            href="#"
        >
            reset
        </a>
        <!-- <span>Morning</span> -->
        <!-- <span>9:43 AM</span> -->
    </footer>
</div>
<style>
    .wrapper {
        position: relative;
        width: 100%;
        height: 100svh;
    }

    .content-width {
        width: 65ch;
        max-width: 100%;
        margin: 0 auto;
    }

    .scroll-area {
        overflow-y: scroll;
        width: 100%;
        display: flex;
        flex-direction: column;

        max-height: 100svh;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .scroll-area.reverse {
        flex-direction: column-reverse;
    }

    header {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;

        background-image: linear-gradient(var(--bg-color) 0%, transparent 120%);
        backdrop-filter: blur(2px);

        padding: 0 1rem;
        box-sizing: border-box;

        & > nav {
            display: flex;
            justify-content: space-between;

            border-bottom: 2px solid var(--text-color);
            padding: 1rem 0;

            a {
                color: unset;
                text-decoration: none;
                font-style: italic;

                &:hover {
                    text-decoration: underline dotted;
                }
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        z-index: 10;
        width: 100%;

        background-image: linear-gradient(transparent 0%, var(--bg-color) 120%);
        backdrop-filter: blur(2px);
        border-top: 1px dotted currentColor;

        padding: 0.25rem 0.5rem;
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;

        font-size: 0.8em;

        a, button {
            font-style: italic;
            &:hover {
                text-decoration: underline dotted;
            }
        }
    }
</style>
