:root {
    --bg-color: #fff;
    --text-color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --text-color: #fff;
    }
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: serif;
}

body {
    position: relative;
    margin: 0 auto;
    max-width: 65ch;
    padding: 0 1rem;
    height: 100svh;
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;

    position: absolute;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;

    a {
        color: unset;
        text-decoration: none;
        font-style: italic;

        &:hover {
            text-decoration: underline dotted;
        }
    }
}

/* ul, ol {
    position: sticky;
    background-color: var(--bg-color);
    bottom: 0;
    padding: 0 0 2rem;
    margin: 10rem 0;
}

ol {
    list-style-position: inside;
}

ul {
    list-style: none;
}

li {
    padding: 0.5em 0.5em;
    border-top: 1px dotted var(--text-color);

    &:hover, &:focus-within {
        color: var(--bg-color);
        background-color: var(--text-color);
        cursor: pointer;
    }
} */

[data-content] {

    display: flex;
    flex-flow: column;
    justify-content: flex-end;

    overflow-y: scroll;
    margin-bottom: 2em;

    p.text {

    }


}

[data-choices] {

    overflow-y: scroll;
    
    button.choice {

        font-family: inherit;

        display: block;
        text-align: left;

        border-radius: unset;
        border: unset;
        border-top: 2px solid var(--text-color);
        color: var(--text-color);
        background-color: var(--bg-color);

        font-size: unset;
        box-shadow: unset;

        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 4px;

        cursor: pointer;

        &:hover:not(:active) {
            color: var(--bg-color);
            background-color: var(--text-color);
        }

        &.visited {
            opacity: 0.5;
        }
    }
}